<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>{{ product.getName() }}</h1>
            <section>
                <img alt="no image" href="{{ product.getImage() }}"><br>
                EAN: {{ product.getEan() }}<br>
            </section>

            <section>
                {% for productPrice in productPrices %}
                    <a href="{{ productPrice.getUrl() }}">{{ productPrice.getPrice() }}</a><br>
                {%  endfor %}
            </section>

            <a href="/category/{{ product.getCategory().getId() }}">Get back to category {{ product.getCategory().getName() }}</a>
            <a href="{{ path('overview') }}">Home</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
