<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h3>Add a category</h3>
            <form method="post" action="{{ path('addCategory') }}">
                Name: <input name="name"/>
                Parent:<select name="parent">
                    <option default value="-1">None</option>
                    {% for category in categories %}
                        <option value="{{ category.getId() }}">{{ category.getId() }}: {{ category.getName() }}</option>
                    {% endfor %}
                </select><br>
                <input type="submit" value="Add Category">
            </form>

            <h3>Current categories</h3>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Parent Category</th>
                    <th>Sub-categories</th>
                    <th>Products</th>
                    <th>Delete?</th>
                </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.getId() }}</td>
                    <td>{{ category.getName() }}</td>
                    <td>
                        {% if category.getParent() is not null and category.getParent().getId() is defined %}
                            {{ category.getParent().getName() }} ({{ category.getParent().getid() }})
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ category.getCategories()|length }}</td>
                    <td>{{ category.getProducts()|length }}</td>
                    <td>
                        {% if category.getCategories()|length == 0 %}
                            {% if category.getProducts()|length == 0 %}
                            <form method="post" action="{{ path('removeCatagory') }}"><input type="hidden" name="remove" value="{{ category.getId() }}"><input type="submit" value="Delete"></form>
                            {% else %}
                                has products
                            {% endif %}
                        {% else %}
                            has children
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </table>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
