<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% if message is defined %}
                <h1>{{ message }}</h1>
            {% endif %}
            Add a store:
            <form method="post" action="{{ path('addStore') }}">
                Name <input name="name"/><br>
                Url <input name="url"/><br>
                <input type="submit" value="Add Store"/>
            </form>

            {% for store in stores %}
                <h5>{{ store.getName() }}</h5>
                <a href="{{ store.getUrl() }}">{{ store.getUrl() }}</a>
                <form method="post" action="{{ path('removeStore') }}"><input type="hidden" name="remove" value="{{ store.getId }}"/><input type="submit" value="Delete"/></form>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
